<!DOCTYPE html>
<html>
<head>
    <title>Blog Posts</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1>Blog Posts</h1>
        <a href="{% url 'post_new' %}" class="btn btn-primary mb-3">New Post</a>
        <ul class="list-group">
            {% for post in posts %}
                <li class="list-group-item">
                    <h2><a href="{% url 'post_detail' post.id %}">{{ post.title }}</a></h2>
                    <p>{{ post.created_at }}</p>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>